main{
    margin-top: 125px;
}

/* MAIN / PAGE TAIL */

.page-tail{
    background-color: rgb(233, 236, 239);
    height: 40px;
}

.breadcrumb{
    margin-bottom: 0;
}

.breadcrumb li a{
    color: #000;
}

.breadcrumb li a:hover{
    color: #14bdee;
}

/* MAIN / WELCOME */

.welcome{
    padding: 100px 0;
}

.welcome-title h1{ 
    line-height: 1.2;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: rgb(56, 65, 88);
    margin-bottom: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.welcome-content{
    margin-bottom: 0;
}

.welcome-cards{
    margin-top: 56px;
}

.welcome-cards .card{
    width: 100%;
}

.img-container{
    width: 100%;
	overflow: hidden;
}

.welcome-cards img{
    max-width: 100%;
    transition: all 2000ms ease;
}

.welcome-cards .card:hover img
{
	transform: scale(1.1);
}

.card-title a{
    color: #000;
}

.card-title a:hover{
    color: #14bdee;
}

/* MAIN / REASON */
.reason{
    width: 100%;
    padding: 100px 0;
    background-image: url('../images/courses_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.reason-title{
    max-width: 600px;
    margin: 0 auto;
}

.reason-title h1{
    line-height: 1.2;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: rgb(56, 65, 88);
    margin-bottom: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.reason-content{
    margin-bottom: 0;
}

.reason-accordion{
    margin-top: 72px;
}

#accordion h3{
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(56, 65, 88);
}

#accordion div{
    padding-right: 8px;
    padding-left: 30px;
    padding-top: 9px;
    overflow: hidden;
}

.ui-accordion-header{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    border: transparent;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 4px;
}

.ui-state-active{
    color: #14bdee;
}

.video-js .vjs-big-play-button{
    top: 45%;
    left: 45%;
    background-image: url('../images/play.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 15px;
    background-color: unset;
    border-radius: unset;
    height: 60px;
    line-height: unset;
}

.video-js .vjs-big-play-button span{
    display: none;
}


/* MAIN / TUTORS */

.tutors{
    width: 100%;
    padding-top: 93px;
    padding-bottom: 60px;
}

.tutors-title{
    max-width: 600px;
    margin: 0 auto;
}

.tutors-title h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 32px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
}

.tutors-text{
    line-height: 1.85;
    margin-top: 14px;
}

.tutors-cards{
    margin-top: 43px;
}

.tutor-card{
    margin-bottom: 40px;
    width: 100%;
    padding: 0 10px;
}

.tutor-card:hover .tutor-body{
    box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}

.tutor-image{
    width: 180px;
    height: 160px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -86px;
    z-index: 5;
}

.tutor-image img{
    max-width: 100%;
    vertical-align: middle;
    border-radius: 6px;
}

.tutor-body{
    width: 100%;
    padding-top: 108px;
    padding-bottom: 24px;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
    text-align: center;
    transition: all 200ms ease;
}

.tutor-name a{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    color: #384158;
    transition: all 200ms ease;
}

.tutor-name a:hover{
    color: #14bdee;
}

.tutor-position{
    font-size: 14px;
    font-weight: 400;
    color: #76777a;
    margin-top: 6px;
}

.tutor-social ul{
    margin-top: 10px;
    padding: 0;
}

.tutor-social ul li{
    display: inline-block;
}

.tutor-social ul li:not(:last-child) {
    margin-right: 10px;
}

.tutor-social ul li a{
    font-size: 18px;
    color: #76777a;
    transition: all 200ms ease;
}

.tutor-social ul li a:hover{
    color: #14bdee;
    cursor: pointer;
}

/* MAIN / REGISTER */

.register{
    background-image: url('../images/counter_background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.counter{
    padding: 70px 0;
}

.counter-title{
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0;
}

.counter-text{
    margin-top: 20px;
}

.counter-text p{
    color: #fff;
}

.milestones{
    margin-top: 40px;
}

.milestone{
    position: relative;
    font-size: 42px;
    font-weight: 700;
    line-height: 0.75;
    color: #14bdee;
}

.milestone p{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 14px;
}

.milestone:not(:last-child)::after {
    display: block;
    position: absolute;
    top: 0;
    right: -45px;
    width: 1px;
    height: 70px;
    background: rgba(255,255,255,0.2);
    content: '';
    transform: rotate(30deg);
}


.counter-form{
    height: 100%;
    width: 380px;
    float: right;
    padding: 40px 40px;
    box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}


.counter-form-title {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 700;
    color: #384158;
    text-transform: uppercase;
    line-height: 0.75;
    margin-bottom: 41px;
    margin-top: 30px;
}

.counter-input:not(:last-child) {
    margin-bottom: 10px;
}

.counter-input {
    width: 100%;
    height: 46px;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    padding-left: 20px;
    outline: none;
    color: #384158;
    font-size: 14px;
}

.counter-textarea {
    height: 90px!important;
    padding-top: 10px;
}

.counter-submit{
    width: 100%;
    height: 46px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: #14bdee;
    cursor: pointer;
    margin-top: 30px;
    transition: all 200ms ease;
}

.counter-submit:hover{
    box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
}

/* MAIN / PARTNERS */
.carousel{
    padding: 30px;
}
.owl-carousel div img{
    position: relative;
    width: 110px !important;
    top: 55%;
    left: 50%;
    filter: grayscale(100%);
}

.owl-carousel div img:hover{
    filter: unset;
}


