/* GENERAL */
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}

a, a:hover, a:visited, a:active, a:link{
    text-decoration: none;
}

ul{
	list-style: none;
	margin-bottom: 0px;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.85;
	font-weight: 400;
	color: #76777a;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p:last-of-type {
    margin: 0;
}


.card{
    border: none;
}

/* HEADER / NAV */

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
    background-color: #fff;
}

header.scrolled
{
    top: -40px;
}

header.scrolled .nav-menu
{
	height: 70px;
}

header.scrolled .nav-text
{
    font-size: 26px;
    margin-bottom: 5px;
}

.scrolled .nav-list .nav-elem a{
    font-size: 18px;
    margin-bottom: 20px;
}

.scrolled .search-button i{
    font-size: 15px;
}

.nav-info{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    background-color:  #14bdee;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
}

.nav-info ul li{
    margin-right: 10px;
}

.nav-register{
    background-color: #f3f3f3;
    color: #384158;
    height: 40px;
    font-weight: 500;
}

.nav-register:hover{
    text-decoration: none;
    color: #384158;
}

.nav-logo{
    width: auto;
    height: 80px;
}

.nav-text{
    display: block;
    top: 35%;
    font-family: 'Roboto Slab', serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 0.75;
	color: #384158;
    margin-left: 7px;
    margin-top: 25px;
    transition: all 300ms ease;
}

.nav-text span{
    color: #14bdee;
}

.nav-list .nav-elem{
    display: inline-block;
    position: relative;
}

.nav-list .nav-elem{
    margin-left: 44px;
}

.nav-list .nav-elem.active::after{
    display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #14bdee;
	content: '';
}

.nav-list .nav-elem a{
    font-size: 19px;
	font-weight: 700;
	color: #384158;
}

.nav-list .nav-elem a:hover, .nav-list .nav-elem.active a{
    color: #14bdee;
}

.nav-list, .search-button, .shopping-cart{
    display: inline-block;
}

.search-button{
    margin-left: 46px;
}

.shopping-cart, .sidebar-open{
    margin-left: 23px;
}

.search-button i, .shopping-cart i{
    font-size: 18px;
    color: #181818;
}

.sidebar-open{
    display: none;
}

.sidebar-open i, .sidebar-close i{
    font-size: 20px;
    color: #353535;
}

.sidebar-close i:hover{
    color: grey;
}


.search-button:hover i, .shopping-cart:hover i, .sidebar-open:hover i{
    cursor: pointer;
	color: #14bdee;
}

.search-box{
    background-color: #14bdee;
    width: 100%;
    height: 73px;
    transition: all 200ms ease;
    position: absolute;
}

.search-box input{
    display: inline-block;
    height: 40px;
    width: 370px;
    border: none;
    outline: none;
    padding-left: 20px;
}

.search-box  button{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    background-color: #efefef;
}


/* SIDEBAR MENU */

.sidebar-menu{
    position: fixed;
    top: 0;
    right: -400px;
    height: 100vh;
    width: 400px;
    background-color: #fff;
    z-index: 101;
    transition: all 500ms ease;
}

.sidebar-close-container{
    background-color: blue;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 20px;
}

.sidebar-close-container .sidebar-close{
    position: absolute;
    right: 60px;
    height: 45px;
    border: none;
    outline: none;
    background-color: transparent;
}



.sidebar{
    padding-right: 60px;
    padding-top: 87px;
    padding-left: 50px;
}



.sidebar input{
    display: inline-block;
    width: 230px;
    min-width: 150px;
    height: 40px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    border: none;
    outline: none;
    padding-left: 15px;
    /* margin-left: 4px; */
    color: rgba(0,0,0,0.5);
}

.sidebar-search-button{
    display: inline-block;
    width: 45px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.sidebar-list{
    margin-top: 50px;
}

.sidebar-elem{
    margin-bottom: 9px;
}

.sidebar-elem a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(0,0,0,1);
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: all 300ms ease;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.sidebar-elem a:hover{
    color: #14bdee
}

/* MAIN / CAROUSEL */

.carousel-control-next, .carousel-control-prev{
    background-color: #b6b7bd;
    border-radius: 50%;
    top: 45%;
    bottom: 50%;
    width: auto;
    padding: 17px 15px;
    text-align: center;
}

.carousel-control-next{
    right: 5%;
}

.carousel-control-prev{
    left: 5%;
}

.carousel-item{
    position: relative;
}

.carousel-caption{
    position: absolute;
    top: 250px;

}

.carousel-caption h5{
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #384158;
}

.carousel-caption p{
    font-size: 24px;
    color: #76777a;
    margin-top: 9px;
}

.home_search_form div
{
	width: calc(100% - 140px);
	height: 46px;
	background: #FFFFFF;
	border-radius: 3px;
}
.home_search_input
{
	width: 33.33333333%;
	border: none;
	outline: none;
	height: 25px;
	padding-left: 20px;
}
.home_search_input:not(:last-child)
{
	border-right: solid 1px #e5e5e5;
}

.dropdown_item_select
{
	position: relative;
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 20px;
	padding-left: 20px;
}

.home_search_button
{
	width: 120px;
	height: 46px;
	background: #14bdee;
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer;
}

/* MAIN / RESOURCES */

.resources{
    width: 100%;
    background: #FFFFFF;
    padding-top: 93px;
    padding-bottom: 103px;
}

.resources-title{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
    line-height: 1.2
}

.resources-content{
    margin-bottom: 0;
    line-height: 1.85;
    color: #76777a; 
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    width: 600px;
    height: 50px;
}

.resource-cards{
    margin-top: 55px;
}

.resource-card{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.resource-card:hover
{
	box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}

.resource-card-title{
    position: relative;
    font-size: 20px;
    margin-top: 23px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
}

.resource-card-content{
    line-height: 1.85;
    color: #76777a;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    margin: 0;
}

/* MAIN / COURSES */

.courses{
    background-image: url('../images/courses_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 45px 0;
}

.courses-title{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
    line-height: 1.2
}

.courses-cards{
    margin-top: 45px;
}

.courses-content{
    margin-bottom: 0;
    line-height: 1.85;
    color: #76777a; 
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    width: 600px;
    height: 50px;
}

.courses-cards .card{
    width: 100%;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
}

.courses-cards .card-title a {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #384158;
    transition: all 200ms ease;
}

.courses-cards .card-title a:hover
{
	color: #14bdee;
}

.courses-cards .card-subtitle {
    font-size: 15px;
    font-weight: 400;
    color: #384158;
    margin-top: 6px;
}

.courses-cards .card-body {
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 23px;
}

.courses-cards .card-text{
    margin: 15px 0;
}

.card-footer-info:first-child{
    margin-right: 18px;
}

.card-footer-info {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #55555a;
}

.card-footer-info i {
    color: #ffc80a;
}

.card-footer-price {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    color: #14bdee;
}

.card-footer-price span {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    color: #b5b8be;
    margin-right: 10px;
}

.courses-button{
    width: 210px;
    height: 46px;
    border-radius: 3px;
    background: #14bdee;
    text-align: center;
    margin: 41px auto;
    box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}

.courses-button a{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 34px;
    color: #FFFFFF;
}

.courses-button:hover
{
	box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
}

/* MAIN / REGISTER */

.register{
    background-image: url('../images/counter_background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.counter{
    padding: 70px 0;
}

.counter-title{
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0;
}

.counter-text{
    margin-top: 20px;
}

.counter-text p{
    color: #fff;
}

.milestones{
    margin-top: 40px;
}

.milestone{
    position: relative;
    font-size: 42px;
    font-weight: 700;
    line-height: 0.75;
    color: #14bdee;
}

.milestone p{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 14px;
}

.milestone:not(:last-child)::after {
    display: block;
    position: absolute;
    top: 0;
    right: -45px;
    width: 1px;
    height: 70px;
    background: rgba(255,255,255,0.2);
    content: '';
    transform: rotate(30deg);
}


.counter-form{
    height: 100%;
    width: 380px;
    float: right;
    padding: 40px 40px;
    box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}


.counter-form-title {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 700;
    color: #384158;
    text-transform: uppercase;
    line-height: 0.75;
    margin-bottom: 41px;
    margin-top: 30px;
}

.counter-input:not(:last-child) {
    margin-bottom: 10px;
}

.counter-input {
    width: 100%;
    height: 46px;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    padding-left: 20px;
    outline: none;
    color: #384158;
    font-size: 14px;
}

.counter-textarea {
    height: 90px!important;
    padding-top: 10px;
}

.counter-submit{
    width: 100%;
    height: 46px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: #14bdee;
    cursor: pointer;
    margin-top: 30px;
    transition: all 200ms ease;
}

.counter-submit:hover{
    box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
}

/* MAIN / EVENTS */
.events{
    width: 100%;
    padding-top: 93px;
    padding-bottom: 70px;
    background: #FFFFFF;
}

.events-title{
    max-width: 600px;
    margin: 0 auto;
}

.events-title h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 32px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
}

.events-text{
    line-height: 1.85;
    margin-top: 14px;
}

.events-cards{
    margin-top: 50px;
}

.events-cards .card{
    width: 100%;
    height: 95%;
    margin: 20px 30px;
}

.events-cards .card:hover .event-date {
    background-color: #14bdee;
}

.events-cards .card:hover .event-day, .events-cards .card:hover .event-month{
    color: #fff;
}

.card-img-top{
    border-radius: 3px;
}

.event-date{
    display: inline-block;
    height: 60px;
    min-width: 60px;
    box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
    transition: all 400ms ease;
    font-family: 'Roboto Slab', serif;
}

.event-day {
    font-size: 24px;
    color: #14bdee;
    font-weight: 700;
    line-height: 0.75;
    text-align: center;
    margin-top: 10px;
}

.event-month {
    
    font-size: 14px;
    color: #14bdee;
    font-weight: 400;
    line-height: 0.75;
    margin-top: 9px;
    text-align: center;
}


.event-content{
    padding-left: 20px;
}

.event-content-title a{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #384158;
    transition: all 300ms ease;
}

.event-content-title a:hover{
    color: #14bdee;
}

.event-content-date{
    margin-top: 10px;
    color: #b5b8be;
    font-size: 14px;
}

.event-content-date i{
    margin-right: 5px;
}

.event-content-text{
    margin-top: 12px;
}

.event-interval{
    margin-right: 8px;
}

/* MAIN / TUTORS */

.tutors{
    background-image: url('../images/team_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding-top: 93px;
    padding-bottom: 60px;
}

.tutors-title{
    max-width: 600px;
    margin: 0 auto;
}

.tutors-title h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 32px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
}

.tutors-text{
    line-height: 1.85;
    margin-top: 14px;
}

.tutors-cards{
    margin-top: 43px;
}

.tutor-card{
    margin-bottom: 40px;
    width: 100%;
    padding: 0 10px;
}

.tutor-card:hover .tutor-body{
    box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
}

.tutor-image{
    width: 180px;
    height: 160px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -86px;
    z-index: 5;
}

.tutor-image img{
    max-width: 100%;
    vertical-align: middle;
    border-radius: 6px;
}

.tutor-body{
    width: 100%;
    padding-top: 108px;
    padding-bottom: 24px;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
    text-align: center;
    transition: all 200ms ease;
}

.tutor-name a{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    color: #384158;
    transition: all 200ms ease;
}

.tutor-name a:hover{
    color: #14bdee;
}

.tutor-position{
    font-size: 14px;
    font-weight: 400;
    color: #76777a;
    margin-top: 6px;
}

.tutor-social ul{
    margin-top: 10px;
    padding: 0;
}

.tutor-social ul li{
    display: inline-block;
}

.tutor-social ul li:not(:last-child) {
    margin-right: 10px;
}

.tutor-social ul li a{
    font-size: 18px;
    color: #76777a;
    transition: all 200ms ease;
}

.tutor-social ul li a:hover{
    color: #14bdee;
    cursor: pointer;
}

/* MAIN / NEWS */

.news_row{
    margin-top: 55px;
}

.news{
    padding: 100px 0;
    font-family: 'Roboto Slab', serif;
}

.news-title{
    max-width: 600px;
    margin: 0 auto;
}

.news-title h2{
    font-weight: 700;
    font-size: 32px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #384158;
    margin-bottom: 0;
}

.news-text{
    line-height: 1.85;
    margin-top: 14px;
}

.col-lg-7{
    padding-right: 45px;
}

.col-lg-5{
    padding-left: 15px;
}

.col-lg-7 .card{
    border: none;
    margin-bottom: 80px;
}

.col-lg-7 .card-title a{
    font-size: 20px;
    font-weight: 700;
    color: #384158;
    line-height: 1.4;
    transition: all 200ms ease;
}

.col-lg-7 .card-title a:hover{
    color: #14bdee;
}

.card-list{
    margin-top: 11px;
}

.card-list ul{
    padding: 0;
}

.card-list ul li{
    position: relative;
    display: inline-block;
}

.card-list ul li a{
    font-size: 14px;
    font-weight: 400;
    color: #b5b8be;
    text-transform: uppercase;
    transition: all 200ms ease
}

.card-list ul li a:hover{
    color: #14bdee;
}

.col-lg-7 .card .card-text{
    margin-top: 13px;
}

.card-list ul li:not(:last-of-type)::after {
    display: inline-block;
    position: relative;
    content: '|';
    margin-left: 14px;
    margin-right: 11px;
}

.card-button{
    margin-top: 20px;
}

.card-button a{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #384158;
    text-decoration: underline;
    transition: all 200ms ease;
    padding: 0;
}

.card-button a:hover{
    color: #14bdee;
    text-decoration: underline;
}

.news-item-title a{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55;
    color: #384158;
    transition: all 200ms ease;
}

.news-item-title a:hover{
    color: #14bdee;
}

.news-item:not(:last-child) {
    padding-bottom: 31px;
    border-bottom: solid 1px #e5e5e5;
}

.news-item:not(:first-child)
{
	padding-top: 29px;
}

.news-info-list{
    margin-top: 11px;
}

.news-info-list ul{
    padding: 0;
}

.news-info-list ul li{
    position: relative;
    display: inline-block;
}

.news-info-list ul li:not(:last-of-type)::after {
    display: inline-block;
    position: relative;
    content: '|';
    margin-left: 14px;
    margin-right: 11px;
}

.news-info-list ul li a{
    font-size: 14px;
    font-weight: 400;
    color: #b5b8be;
    text-transform: uppercase;
    transition: all 200ms ease
}

.news-info-list ul li a:hover{
    color: #14bdee;
}

/* MAIN / SUBSCRIBE */
.subscribe{
    font-family: 'Roboto Slab', serif;
    background-image: url('../images/newsletter.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.subscribe-info-title{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subscribe-info-content{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 6px;
}

.subscribe-form form input{
    width: 300px;
    height: 40px;
    background: rgba(255,255,255,0.4);
    border: none;
    outline: none;
    padding: 0 0 0 20px;
    color: #FFFFFF;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.subscribe-form form input::placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}

.subscribe-form form button{
    width: 136px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    color: #14bdee;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 0 6px;
    margin-bottom: 1px;
}


/* FOOTER */

footer{
    font-family: 'Roboto Slab', serif;
    background-image: url('../images/footer_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1e2434;
    width: 100%;
    padding-top: 100px;
}

.footer-content{
    padding-bottom: 55px;
}

.footer-logo{
    width: auto;
    height: auto;
}

.footer-text{
    display: block;
	font-size: 36px;
	font-weight: 700;
	line-height: 0.75;
	color: #fff;
    transition: all 300ms ease;
}

.footer-text span{
    color: #14bdee;
}

.footer-about{
    margin-top: 31px;
}

.footer-social-list{
    margin-top: 25px;
}

.footer-social-list ul{
    padding-left: 0;
}

.footer-social-list ul li{
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #4b505d;
    border-radius: 50%;
    transition: all 200ms ease;
}

.footer-social-list ul li:hover{
    background-color: #14bdee;
}

.footer-social-list ul li:not(:last-child) {
    margin-right: 10px;
}

.footer-social-list ul li a{
    display: block;
    text-align: center;
}

.footer-social-list ul li a i{
    color: #FFFFFF;
    line-height: 45px;
}

.footer-about-1 ul{
    padding-left: 0;
}

.footer-about-1 ul li:first-child{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 0.75;
}

.footer-about-1 ul li:nth-child(2){
    margin-top: 33px;
}

.footer-about-1 ul li:not(:last-child) {
    margin-bottom: 15px;
}


.footer-about-1 ul li:not(:first-child){
    font-size: 14px;
    font-weight: 400;
    color: #b5b8be;
}

.links-title{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 0.75;
}

.footer-links{
    margin-top: 33px;
    padding-left: 0;
}

.footer-links li{
    display: inline-block;
    width: 120px;
}

.footer-links li:not(:last-child) {
    margin-bottom: 15px;
}

.footer-links li a {
    font-size: 14px;
    color: #b5b8be;
    transition: all 200ms ease;
}

.footer-links li a:hover{
    color: #14bdee;
}

.mobile-title{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 0.75;
}

.mobile-list{
    padding-top: 35px;
    padding-left: 0;
}

.mobile-list li{
    margin-bottom: 10px;
}

.terms{
    height: 60px;
    border-top: solid 1px #353a49;
    padding-top: 10px;
}

.terms-list li{
    display: inline-block;
}

.terms-list li a{
    font-size: 14px;
    color: #b5b8be;
    transition: all 200ms ease;
}

.terms-list li a:hover{
    color: #14bdee;
}

.terms-list li:not(:last-child){
    margin-right: 50px;
}


@media (max-width: 992px) {
    .nav-info ul{
        font-size: 12px;
    }
    .sidebar-open{
        display: inline-block;
    }
    .nav-list, .search-button{
        display: none;
    }
    .sidebar-open{
        display: inline-block;
    }

    .card-footer-info:first-child{
        margin-right: 12px;
    }

    .courses-cards .card{
        margin-bottom: 40px
    }

    .counter-form{
        height: unset;
        width: 100%;
        padding: 40px 60px;
        margin: 10px 0 80px 0;
    }

    .milestone:not(:last-child)::after {
        content: none;
    }

    .event-interval{
        margin-right: 15px;
    }

    .tutor-image{
        width: 160px;
        height: 140px;
    }

    .subscribe-form{
        margin-top: 20px;
    }

    .footer-main{
        margin-bottom: 60px;
    }

    .footer-about-1 ul{
        margin-bottom: 60px;
    }


    .footer-links li{
        display: block;
        width: auto;
        margin-bottom: 60px;
    }

    .terms-list{
        margin-top: 30px;
    }

    .terms-list li:not(:last-child){
        margin-right: 20px;
    }

    .terms{
        height: auto;
        padding: 30px 0;
    }
}

@media (max-width: 800px){
    .nav-info{
        display: none;
    }
}
