@media (max-width: 992px) {
    .nav-info ul{
        font-size: 12px;
    }
    .sidebar-open{
        display: inline-block;
    }
    .nav-list, .search-button{
        display: none;
    }
    .sidebar-open{
        display: inline-block;
    }

    .card-footer-info:first-child{
        margin-right: 12px;
    }

    .courses-cards .card{
        margin-bottom: 40px
    }

    .counter-form{
        height: unset;
        width: 100%;
        padding: 40px 60px;
        margin: 10px 0 80px 0;
    }

    .milestone:not(:last-child)::after {
        content: none;
    }

    .event-interval{
        margin-right: 15px;
    }

    .tutor-image{
        width: 160px;
        height: 140px;
    }

    .subscribe-form{
        margin-top: 20px;
    }

    .footer-main{
        margin-bottom: 60px;
    }

    .footer-about-1 ul{
        margin-bottom: 60px;
    }


    .footer-links li{
        display: block;
        width: auto;
        margin-bottom: 60px;
    }

    .terms-list{
        margin-top: 30px;
    }

    .terms-list li:not(:last-child){
        margin-right: 20px;
    }

    .terms{
        height: auto;
        padding: 30px 0;
    }
}

@media (max-width: 800px){
    .nav-info{
        display: none;
    }
}
